In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('TelcoCustomerChurn.csv')

In [ ]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [ ]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [ ]:
df.shape

(7032, 21)

In [ ]:
churn_proportions = df['Churn'].value_counts(normalize=True)
churn_proportions

Churn
No     0.73463
Yes    0.26537
Name: proportion, dtype: float64

In [ ]:
contract_churn = df.groupby(['Contract', 'Churn']).size().unstack()
contract_churn['Churn_Rate'] = contract_churn['Yes'] / (contract_churn['No'] + contract_churn['Yes'])
display(contract_churn)

Churn             No   Yes  Churn_Rate
Contract
Month-to-month  2220  1655    0.427097
One year        1307   166    0.112695
Two year        1647    48    0.028319

In [ ]:
combined_contract_metrics = average_monthly_charges_contract_churn.copy()
combined_contract_metrics['Churn_Rate'] = contract_churn['Churn_Rate']
display(combined_contract_metrics)

Churn                  No        Yes  Churn_Rate
Contract
Month-to-month  61.462635  73.019396    0.427097
One year        62.540926  85.050904    0.112695
Two year        60.112798  86.777083    0.028319

In [ ]:
churn_yes_df = df[df['Churn'] == 'Yes']
display(churn_yes_df.head())

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.50,Yes
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
13,0280-XJGEX,Male,0,No,No,49,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.30,Yes

In [ ]:
print('Counts of features for churned customers:')
for column in churn_yes_df.columns:
    if column not in ['customerID', 'Churn']:
        print(f'\n--- {column} ---')
        display(churn_yes_df[column].value_counts())

Counts of features for churned customers:

--- gender ---

gender
Female    939
Male      930
Name: count, dtype: int64

--- SeniorCitizen ---

SeniorCitizen
0    1393
1     476
Name: count, dtype: int64

--- Partner ---

Partner
No     1200
Yes     669
Name: count, dtype: int64

--- Dependents ---

Dependents
No     1543
Yes     326
Name: count, dtype: int64

--- tenure ---

tenure
1     380
2     123
3      94
4      83
5      64
     ...
45      6
71      6
62      5
63      4
64      4
Name: count, Length: 72, dtype: int64

--- PhoneService ---

PhoneService
Yes    1699
No      170
Name: count, dtype: int64

--- MultipleLines ---

MultipleLines
Yes                 850
No                  849
No phone service    170
Name: count, dtype: int64

--- InternetService ---

InternetService
Fiber optic    1297
DSL             459
No              113
Name: count, dtype: int64

--- OnlineSecurity ---

OnlineSecurity
No                     1461
Yes                     295
No internet service     113
Name: count, dtype: int64

--- OnlineBackup ---

OnlineBackup
No                     1233
Yes                     523
No internet service     113
Name: count, dtype: int64

--- DeviceProtection ---

DeviceProtection
No                     1211
Yes                     545
No internet service     113
Name: count, dtype: int64

--- TechSupport ---

TechSupport
No                     1446
Yes                     310
No internet service     113
Name: count, dtype: int64

--- StreamingTV ---

StreamingTV
No                     942
Yes                    814
No internet service    113
Name: count, dtype: int64

--- StreamingMovies ---

StreamingMovies
No                     938
Yes                    818
No internet service    113
Name: count, dtype: int64

--- Contract ---

Contract
Month-to-month    1655
One year           166
Two year            48
Name: count, dtype: int64

--- PaperlessBilling ---

PaperlessBilling
Yes    1400
No      469
Name: count, dtype: int64

--- PaymentMethod ---

PaymentMethod
Electronic check             1071
Mailed check                  308
Bank transfer (automatic)     258
Credit card (automatic)       232
Name: count, dtype: int64

--- MonthlyCharges ---

MonthlyCharges
74.40     13
74.90      9
45.30      8
74.95      8
94.40      7
          ..
82.30      1
101.85     1
18.85      1
81.45      1
62.65      1
Name: count, Length: 910, dtype: int64

--- TotalCharges ---

TotalCharges
20.20      6
45.30      5
20.15      4
69.60      4
19.90      4
          ..
857.25     1
1752.55    1
633.30     1
727.80     1
70.65      1
Name: count, Length: 1732, dtype: int64

In [ ]:
total_charges_all_customers = df['TotalCharges'].sum()
print(f"Total Charges for all customers: {total_charges_all_customers}")

Total Charges for all customers: 16056168.700000001

In [ ]:
total_charges_churned_customers = df[df['Churn'] == 'Yes']['TotalCharges'].sum()
print(f"Total Charges for churned customers: {total_charges_churned_customers}")

Total Charges for churned customers: 2862926.9

In [ ]:
total_charges_non_churned_customers = df[df['Churn'] == 'No']['TotalCharges'].sum()
print(f"Total Charges for non-churned customers: {total_charges_non_churned_customers}")

Total Charges for non-churned customers: 13193241.8

In [ ]:


print(f"\n--- Summary of Total Charges ---")
print(f"Total Charges for all customers: {total_charges_all_customers:,.2f}")
print(f"Total Charges for churned customers: {total_charges_churned_customers:,.2f} ({proportion_churned_total_charges:.2%})")
print(f"Total Charges for non-churned customers: {total_charges_non_churned_customers:,.2f} ({proportion_non_churned_total_charges:.2%})")

--- Summary of Total Charges ---
Total Charges for all customers: 16,056,168.70
Total Charges for churned customers: 2,862,926.90 (17.83%)
Total Charges for non-churned customers: 13,193,241.80 (82.17%)